<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>Thing's MALL</title>

    <!-- bootstrap.css -->
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <!-- bootstrap.js -->
    <script th:src="@{/bootstrap.min.js}"></script>
    <!-- JQuery -->
    <script th:src="@{/jquery.js}"></script>
    <!-- popper -->
    <script th:src="@{/popper.js}"></script>

    <!-- custom css -->
    <style>
      html {
        position: relative;
        min-height: 100%;
        margin: 0;
      }

      body {
        min-height: 100%;
      }

      .footer {
        width: 100%;
        padding: 15px 0;
        text-align: center;
      }

      .content {
        margin: 50px 200px;
      }
    </style>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
  </head>
  <body>
    <div th:replace="fragments/header::header"></div>
    <div layout:fragment="content" class="content"></div>
    <div th:replace="fragments/footer::footer"></div>
  </body>
</html>